@model LccNetwork.Models.HighlightableItemPart

<fieldset>
    <span class="checkbox-and-label">
        @Html.EditorFor(m => m.IsHighlighted)
        <label for="@Html.FieldIdFor(m => m.IsHighlighted)" class="forcheckbox">@T("Set as a highlighted")</label>
    </span>
    <span class="hint">@T("Check to promote this content as a highlighted item")</span>
</fieldset>