@model LccNetwork.ViewModels.HighlightedItemPartViewModel

@{
    
}

<label for="@Html.FieldIdFor(m => m.HighlightGroup)">Choose type of content that you want to display in this highlight area.</label>
@Html.DropDownListFor(m => m.HighlightGroup, Model.HighlightGroups)