@{
    var themes = (IEnumerable<SelectListItem>)Model.Themes;
    var currentTheme = Model.CurrentTheme;
}
<div id="theme-designer-control-bar">
    @using (Html.BeginFormAntiForgeryPost(
        Url.Action("Trace", new { Controller = "Home", Area = "BigFont.TheThemeMachineDesigner" }),
        FormMethod.Post))
    {
        <fieldset>
            <label for="themes">@T("Currently Tracing: ")</label>
            @Html.DropDownList("ThemeId", themes, new { id ="themes"})
            @Html.Hidden("ReturnUrl", Context.Request.RawUrl)
            <button type="submit">
                @T("Trace this theme.")
            </button>
        </fieldset>
    }
</div>