@{ 
    Script.Require("BigFontMap_MultipleMarkers"); 
    Style.Require("BigFontMaps");
} 

<ul class="bigfont-location-list" id="location-list" >
</ul>
<div class="img-polaroid img-rounded">
    <div class="bigfont-map" id="map-multiple-markers-canvas" />
</div>


