@{
    var themes = (IEnumerable<SelectListItem>)Model.Themes;
    var currentTheme = Model.CurrentTheme;
}

<div id="theme-designer-control-bar" draggable="true">
    @using (Html.BeginFormAntiForgeryPost(
        Url.Action("Trace", new { Controller = "Home", Area = "BigFont.TheThemeMachineDesigner" }), FormMethod.Post))
    {
        @Html.DropDownList("ThemeId", themes, new { id = "themes", onchange = "this.form.submit()" })
        @Html.Hidden("ReturnUrl", Context.Request.RawUrl)
    }
</div>