These are partially in english and partially in code.


setup /SiteName:"Lcc Network" /AdminUsername:"admin" /AdminPassword:"strongPassword" /DatabaseProvider:"SQLServer" /DatabaseConnectionString:"connString" /DatabaseTablePrefix:"Lcc" /EnabledFeatures:<feature1,feature2,...> /Recipe:<recipe>

install module Orchard.Module.LccNetwork
enable all its features

install module BigFont.Bootstrap.Components
enable carousel feature only

widget create "BootstrapCarousel" /Title:"Carousel" /Name:"Carousel" /Zone:Featured /Position:1 /Layer:"TheHomepage" /RenderTitle:false
widget create "HighlightedItemWidget" /Title:"Featured Content Item" /Name:"Featured Content Item" /Zone:BeforeMain /Position:1 /Layer:"TheHomepage" /RenderTitle:false
widget create "HighlightedItemWidget" /Title:"Featured Spotlight Item" /Name:"Featured Spotlight Item" /Zone:AsideFirst /Position:1 /Layer:"TheHomepage" /RenderTitle:false