<span>@T("Website by <a href=\"{0}\">BigFont</a>.", "http://www.bigfont.ca")</span>
<span>@T("Built lovingly with &#169; Bootstrap 2012.")</span>
<span>@T("Powered by <a href=\"{0}\">Orchard</a>.", "http://www.orchardproject.net")</span>
<span>@T("Forest Photo by National Park Service Digital Image Archives [Public domain]")</span>