@using Orchard.Fields.Settings;
@using Orchard.Utility.Extensions;
@{
    string value = (string)Model.ContentField.Value;
    string name = (string)Model.ContentField.DisplayName;
    if (!string.IsNullOrEmpty(value))
    {
        <h2 class="text-field text-field-@name.HtmlClassify()">@value</h2>
    }
}
