@using Orchard.ContentManagement
@using Orchard.MediaLibrary.Fields
@using Orchard.Utility.Extensions;

@{
    var field = (MediaLibraryPickerField)Model.ContentField;
    var contents = field.MediaParts;
    // explicitly type so we can call HtmlClassify    
    string name = field.DisplayName;
}
<section class="media-library-picker-field-large media-library-picker-field-@name.HtmlClassify()">
    @foreach (var content in contents)
    {
        @Html.Partial("_MediaImage", content, new ViewDataDictionary() { { "Width", 480 } })
    }
</section>

