@using Orchard.ContentManagement
@using Orchard.MediaLibrary.Fields
@using Orchard.Utility.Extensions;

@{
    var field = (MediaLibraryPickerField)Model.ContentField;
    var contents = field.MediaParts;
    // explicitly type these so we can call HtmlClassify
    string contentType = Model.ContentItem.ContentType;
    string name = field.DisplayName;
}
<section class="media-library-picker-field-small media-library-picker-field-@name.HtmlClassify()">
    @foreach (var content in contents)
    {
        @Html.Partial("_MediaImageHack", content, new ViewDataDictionary() { { "Width", 200 } })
    }
</section>

