@{
    IEnumerable<object> blogPosts = Model.ContentItems;
    Model.ContentItems.Classes.Add("content-items");
    Model.ContentItems.Classes.Add("blog-posts");
    Model.ContentItems.Classes.Add("list-group");
    Model.ContentItems.ItemClasses.Add("list-group-item");
}

@Display(Model.ContentItems)

@if (blogPosts == null || blogPosts.Count() < 1) {
    <p>@T("There are no posts for this blog.")</p>
}