@{
    /* Global includes for the theme
    ***************************************************************/

    // Bootstrap recommended metas
    SetMeta(charset: "utf-8");
    SetMeta(httpEquiv: "X-UA-Compatible", content: "IE=edge");
    SetMeta(name: "viewport", content: "width=device-width, initial-scale=1");

    // Bootstrap and FontAwesome
    Style.Include("//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css");
    Style.Include("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css");
    Script.Include("//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js");
    Script.Include("//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js");

    // Bootstrap recommended shims
    Script.Include("//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js").AtHead().UseCondition("lt ie 9");
    Script.Include("//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js").AtHead().UseCondition("lt ie 9");

    // Site 
    Style.Include("bootstrap-theme.min.css");
    Style.Include("Site.css");


    /* Inserting some ad hoc shapes
    ***************************************************************/

    WorkContext.Layout.Footer.Add(New.User(), "10"); // Login and dashboard links


    /* Some useful shortcuts or settings
    ***************************************************************/

    // Zone as an alias for Display to help make it obvious when we're displaying zones
    Func<dynamic, dynamic> Zone = x => Display(x);
}

<header>
    <div class="container">
        <a href="/">
            <img alt="Singular Biogenics Logo" class="img-responsive" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Logo.jpg"))" />
        </a>
        <nav>
            @Zone(Model.Navigation)
        </nav>
    </div>
</header>

<main>
    <div class="container">
        <article>
            @Zone(Model.Content)
        </article>
    </div>
</main>

<div class="container">
    <footer id="footer">

        @Zone(Model.Footer)

    </footer>
</div>