/*
Theme: The Theme Machine Designer
Author: shaun @ bigfont.ca 
*/

/*topo*/
@topography-base-color: black;
@topography-increment: 15;
@zone-highlight: #FFB414;
@widget-highlight: #7FB903;
@content-item-highlight: #00A2E3;
@other-highlight: #F8531B;
@annotation-font-size: 14px;
@annotation-background-color: white;
@massive-z-index: 99999;
/*links*/

/*mixins*/
.topography(@level) {
    @background-color: lighten(@topography-base-color, @topography-increment * @level);
    background-color: @background-color !important; // todo - determine what overrides this on .widget-navigation
    //@foreground-color: contrast(@background-color);
    // color: @foreground-color;
}

.hightlight-me(@highlight-color) {
    outline: 1.5px inset @highlight-color;
    background-color: fade(@highlight-color, 25);
}

#layout-wrapper.trace-class-and-id {

    .show-id {
        content +_: '#' attr(id);
    }

    .show-class {
        content +_: '.' attr(class);
    }

    &:before,
    [id]:before,
    [class]:before,
    [id][class]:before {
        font-size: @annotation-font-size;
        background: @other-highlight;
        z-index: @massive-z-index;
    }
    // just id
    [id]:before {
        .show-id
    }
    // just class
    [class]:before {
        .show-class;
    }
    // both id and class
    [id][class]:before {
        .show-id;
        .show-class;
    }
    // special cases
    .widget-navigation:before {
        content: '.' attr(class) !important; // todo - why does this require !important?
    }

    &:before {
        .show-id;
        .show-class;
        position: absolute;
        top: 50px;
        right: 50px;
    }

    .zone:before {
        background: @zone-highlight;
    }

    .widget:before {
        background: @widget-highlight;
    }

    .content-item:before {
        background: @content-item-highlight;
    }
}

#layout-wrapper.trace-zones {
    .zone {
        .hightlight-me(@zone-highlight);
    }
}

#layout-wrapper.trace-widgets {
    .widget {
        .hightlight-me(@widget-highlight);
    }
}

#layout-wrapper.trace-content-items {
    .content-item {
        .hightlight-me(@content-item-highlight);
    }
}

#layout-wrapper.trace-topography {
    .topography(0);

    > [id],
    > [class] {
        .topography(1);

        > [id],
        > [class] {
            .topography(2);

            > [id],
            > [class] {
                .topography(3);

                > [id],
                > [class] {
                    .topography(4);

                    > [id],
                    > [class] {
                        .topography(5);

                        > [id],
                        > [class] {
                            .topography(6);
                        }
                    }
                }
            }
        }
    }
}
