@control-bar-height: 40px;
@control-bar-background:#e8e6e6;
@control-bar-background-start: #ECF1F2;
@control-bar-border: 1px solid #B6BCBD;
@control-bar-font-color: black;

@topography-base-color: black;
@topography-increment: 15;

@highlight-zone: #FFB414;
@highlight-widget: #7FB903;
@highlight-content-item: #00A2E3;
@highlight-other: #F8531B;

@annotation-font-size: 14px;
@annotation-background-color: white;

@massive-z-index: 99999;
