/*
Theme: The Theme Machine Designer
Author: shaun @ bigfont.ca
*/
div,
article,
header,
footer,
aside,
div [id*="layout-"],
article [id*="layout-"],
header [id*="layout-"],
footer [id*="layout-"],
aside [id*="layout-"],
div .zone,
article .zone,
header .zone,
footer .zone,
aside .zone,
div #layout-navigation,
article #layout-navigation,
header #layout-navigation,
footer #layout-navigation,
aside #layout-navigation {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: none;
  border-top: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
body {
  background: #000000;
}
div#layout-wrapper {
  /*#region Hide irrelevant elements*/
  /*#endregion*/
  /*#region Display relevant elements */
  /*#endregion*/
  /*#region Show id and class names for key structural elements*/
  /*#endregion*/
  /*#region Show topography */
  background: #1a1a1a;
}
div#layout-wrapper p,
div#layout-wrapper h1,
div#layout-wrapper h2,
div#layout-wrapper h3,
div#layout-wrapper h4,
div#layout-wrapper h5,
div#layout-wrapper h6,
div#layout-wrapper ul,
div#layout-wrapper span,
div#layout-wrapper .metadata,
div#layout-wrapper .copyright,
div#layout-wrapper .poweredby,
div#layout-wrapper .credits {
  display: none;
}
div#layout-wrapper h1#branding {
  display: block;
}
div#layout-wrapper ul.menu.menu-main-menu {
  display: block;
}
div#layout-wrapper div.user-display span.user-actions:nth-child(2) {
  color: #ffff00;
}
div#layout-wrapper div.user-display span.user-actions:nth-child(2),
div#layout-wrapper div.user-display span.user-actions:nth-child(2) a {
  display: inline-block;
  line-height: 24px;
  padding-left: 5px;
  padding-right: 5px;
}
div#layout-wrapper a,
div#layout-wrapper li > a,
div#layout-wrapper h1 > a {
  background: #ffffff;
  color: #0000ff;
  display: block;
}
div#layout-wrapper a:hover,
div#layout-wrapper li > a:hover,
div#layout-wrapper h1 > a:hover {
  background: #ffff00;
}
div#layout-wrapper li.current > a {
  background: #ffff00;
}
div#layout-wrapper,
div#layout-wrapper div,
div#layout-wrapper article,
div#layout-wrapper header,
div#layout-wrapper aside,
div#layout-wrapper footer {
  display: block;
}
div#layout-wrapper[id]:before,
div#layout-wrapper div[id]:before,
div#layout-wrapper article[id]:before,
div#layout-wrapper header[id]:before,
div#layout-wrapper aside[id]:before,
div#layout-wrapper footer[id]:before,
div#layout-wrapper[class]:before,
div#layout-wrapper div[class]:before,
div#layout-wrapper article[class]:before,
div#layout-wrapper header[class]:before,
div#layout-wrapper aside[class]:before,
div#layout-wrapper footer[class]:before {
  color: #ffff00;
  content: "#" attr(id) "." attr(class);
  display: block;
  padding: 10px;
}
div#layout-wrapper[id]:before {
  text-decoration: underline;
}
div#layout-wrapper > [id],
div#layout-wrapper > [class] {
  background: #262626;
}
div#layout-wrapper > [id] > [id],
div#layout-wrapper > [class] > [id],
div#layout-wrapper > [id] > [class],
div#layout-wrapper > [class] > [class] {
  background: #333333;
}
div#layout-wrapper > [id] > [id] > [id],
div#layout-wrapper > [class] > [id] > [id],
div#layout-wrapper > [id] > [class] > [id],
div#layout-wrapper > [class] > [class] > [id],
div#layout-wrapper > [id] > [id] > [class],
div#layout-wrapper > [class] > [id] > [class],
div#layout-wrapper > [id] > [class] > [class],
div#layout-wrapper > [class] > [class] > [class] {
  background: #404040;
}
div#layout-wrapper > [id] > [id] > [id] > [id],
div#layout-wrapper > [class] > [id] > [id] > [id],
div#layout-wrapper > [id] > [class] > [id] > [id],
div#layout-wrapper > [class] > [class] > [id] > [id],
div#layout-wrapper > [id] > [id] > [class] > [id],
div#layout-wrapper > [class] > [id] > [class] > [id],
div#layout-wrapper > [id] > [class] > [class] > [id],
div#layout-wrapper > [class] > [class] > [class] > [id],
div#layout-wrapper > [id] > [id] > [id] > [class],
div#layout-wrapper > [class] > [id] > [id] > [class],
div#layout-wrapper > [id] > [class] > [id] > [class],
div#layout-wrapper > [class] > [class] > [id] > [class],
div#layout-wrapper > [id] > [id] > [class] > [class],
div#layout-wrapper > [class] > [id] > [class] > [class],
div#layout-wrapper > [id] > [class] > [class] > [class],
div#layout-wrapper > [class] > [class] > [class] > [class] {
  background: #4d4d4d;
}
div#layout-wrapper > [id] > [id] > [id] > [id] > [id],
div#layout-wrapper > [class] > [id] > [id] > [id] > [id],
div#layout-wrapper > [id] > [class] > [id] > [id] > [id],
div#layout-wrapper > [class] > [class] > [id] > [id] > [id],
div#layout-wrapper > [id] > [id] > [class] > [id] > [id],
div#layout-wrapper > [class] > [id] > [class] > [id] > [id],
div#layout-wrapper > [id] > [class] > [class] > [id] > [id],
div#layout-wrapper > [class] > [class] > [class] > [id] > [id],
div#layout-wrapper > [id] > [id] > [id] > [class] > [id],
div#layout-wrapper > [class] > [id] > [id] > [class] > [id],
div#layout-wrapper > [id] > [class] > [id] > [class] > [id],
div#layout-wrapper > [class] > [class] > [id] > [class] > [id],
div#layout-wrapper > [id] > [id] > [class] > [class] > [id],
div#layout-wrapper > [class] > [id] > [class] > [class] > [id],
div#layout-wrapper > [id] > [class] > [class] > [class] > [id],
div#layout-wrapper > [class] > [class] > [class] > [class] > [id],
div#layout-wrapper > [id] > [id] > [id] > [id] > [class],
div#layout-wrapper > [class] > [id] > [id] > [id] > [class],
div#layout-wrapper > [id] > [class] > [id] > [id] > [class],
div#layout-wrapper > [class] > [class] > [id] > [id] > [class],
div#layout-wrapper > [id] > [id] > [class] > [id] > [class],
div#layout-wrapper > [class] > [id] > [class] > [id] > [class],
div#layout-wrapper > [id] > [class] > [class] > [id] > [class],
div#layout-wrapper > [class] > [class] > [class] > [id] > [class],
div#layout-wrapper > [id] > [id] > [id] > [class] > [class],
div#layout-wrapper > [class] > [id] > [id] > [class] > [class],
div#layout-wrapper > [id] > [class] > [id] > [class] > [class],
div#layout-wrapper > [class] > [class] > [id] > [class] > [class],
div#layout-wrapper > [id] > [id] > [class] > [class] > [class],
div#layout-wrapper > [class] > [id] > [class] > [class] > [class],
div#layout-wrapper > [id] > [class] > [class] > [class] > [class],
div#layout-wrapper > [class] > [class] > [class] > [class] > [class] {
  background: #595959;
}
div#layout-wrapper > [id] > [id] > [id] > [id] > [id] > [id],
div#layout-wrapper > [class] > [id] > [id] > [id] > [id] > [id],
div#layout-wrapper > [id] > [class] > [id] > [id] > [id] > [id],
div#layout-wrapper > [class] > [class] > [id] > [id] > [id] > [id],
div#layout-wrapper > [id] > [id] > [class] > [id] > [id] > [id],
div#layout-wrapper > [class] > [id] > [class] > [id] > [id] > [id],
div#layout-wrapper > [id] > [class] > [class] > [id] > [id] > [id],
div#layout-wrapper > [class] > [class] > [class] > [id] > [id] > [id],
div#layout-wrapper > [id] > [id] > [id] > [class] > [id] > [id],
div#layout-wrapper > [class] > [id] > [id] > [class] > [id] > [id],
div#layout-wrapper > [id] > [class] > [id] > [class] > [id] > [id],
div#layout-wrapper > [class] > [class] > [id] > [class] > [id] > [id],
div#layout-wrapper > [id] > [id] > [class] > [class] > [id] > [id],
div#layout-wrapper > [class] > [id] > [class] > [class] > [id] > [id],
div#layout-wrapper > [id] > [class] > [class] > [class] > [id] > [id],
div#layout-wrapper > [class] > [class] > [class] > [class] > [id] > [id],
div#layout-wrapper > [id] > [id] > [id] > [id] > [class] > [id],
div#layout-wrapper > [class] > [id] > [id] > [id] > [class] > [id],
div#layout-wrapper > [id] > [class] > [id] > [id] > [class] > [id],
div#layout-wrapper > [class] > [class] > [id] > [id] > [class] > [id],
div#layout-wrapper > [id] > [id] > [class] > [id] > [class] > [id],
div#layout-wrapper > [class] > [id] > [class] > [id] > [class] > [id],
div#layout-wrapper > [id] > [class] > [class] > [id] > [class] > [id],
div#layout-wrapper > [class] > [class] > [class] > [id] > [class] > [id],
div#layout-wrapper > [id] > [id] > [id] > [class] > [class] > [id],
div#layout-wrapper > [class] > [id] > [id] > [class] > [class] > [id],
div#layout-wrapper > [id] > [class] > [id] > [class] > [class] > [id],
div#layout-wrapper > [class] > [class] > [id] > [class] > [class] > [id],
div#layout-wrapper > [id] > [id] > [class] > [class] > [class] > [id],
div#layout-wrapper > [class] > [id] > [class] > [class] > [class] > [id],
div#layout-wrapper > [id] > [class] > [class] > [class] > [class] > [id],
div#layout-wrapper > [class] > [class] > [class] > [class] > [class] > [id],
div#layout-wrapper > [id] > [id] > [id] > [id] > [id] > [class],
div#layout-wrapper > [class] > [id] > [id] > [id] > [id] > [class],
div#layout-wrapper > [id] > [class] > [id] > [id] > [id] > [class],
div#layout-wrapper > [class] > [class] > [id] > [id] > [id] > [class],
div#layout-wrapper > [id] > [id] > [class] > [id] > [id] > [class],
div#layout-wrapper > [class] > [id] > [class] > [id] > [id] > [class],
div#layout-wrapper > [id] > [class] > [class] > [id] > [id] > [class],
div#layout-wrapper > [class] > [class] > [class] > [id] > [id] > [class],
div#layout-wrapper > [id] > [id] > [id] > [class] > [id] > [class],
div#layout-wrapper > [class] > [id] > [id] > [class] > [id] > [class],
div#layout-wrapper > [id] > [class] > [id] > [class] > [id] > [class],
div#layout-wrapper > [class] > [class] > [id] > [class] > [id] > [class],
div#layout-wrapper > [id] > [id] > [class] > [class] > [id] > [class],
div#layout-wrapper > [class] > [id] > [class] > [class] > [id] > [class],
div#layout-wrapper > [id] > [class] > [class] > [class] > [id] > [class],
div#layout-wrapper > [class] > [class] > [class] > [class] > [id] > [class],
div#layout-wrapper > [id] > [id] > [id] > [id] > [class] > [class],
div#layout-wrapper > [class] > [id] > [id] > [id] > [class] > [class],
div#layout-wrapper > [id] > [class] > [id] > [id] > [class] > [class],
div#layout-wrapper > [class] > [class] > [id] > [id] > [class] > [class],
div#layout-wrapper > [id] > [id] > [class] > [id] > [class] > [class],
div#layout-wrapper > [class] > [id] > [class] > [id] > [class] > [class],
div#layout-wrapper > [id] > [class] > [class] > [id] > [class] > [class],
div#layout-wrapper > [class] > [class] > [class] > [id] > [class] > [class],
div#layout-wrapper > [id] > [id] > [id] > [class] > [class] > [class],
div#layout-wrapper > [class] > [id] > [id] > [class] > [class] > [class],
div#layout-wrapper > [id] > [class] > [id] > [class] > [class] > [class],
div#layout-wrapper > [class] > [class] > [id] > [class] > [class] > [class],
div#layout-wrapper > [id] > [id] > [class] > [class] > [class] > [class],
div#layout-wrapper > [class] > [id] > [class] > [class] > [class] > [class],
div#layout-wrapper > [id] > [class] > [class] > [class] > [class] > [class],
div#layout-wrapper > [class] > [class] > [class] > [class] > [class] > [class] {
  background: #666666;
}
div#layout-wrapper .zone {
  margin-bottom: 10px;
  /*#endregion*/
}
div#layout-wrapper .zone .widget,
div#layout-wrapper .zone .content-item {
  border: 2px dashed red;
  display: table;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}
