/*
Theme: The Theme Machine Designer
Author: shaun @ bigfont.ca
*/
/*topo*/
/*links*/
/*mixins*/
.show-zone {
  margin-bottom: 4px;
  background-color: #ffff00;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffff00), to(#ffffff));
  background-image: -webkit-linear-gradient(left, #ffff00, #ffffff);
  background-image: -moz-linear-gradient(left, #ffff00, #ffffff);
  background-image: -ms-linear-gradient(left, #ffff00, #ffffff);
  background-image: -o-linear-gradient(left, #ffff00, #ffffff);
}
.show-widget {
  margin-bottom: 4px;
  background-color: #00ffff;
  background-image: -webkit-gradient(linear, left top, right top, from(#00ffff), to(#ffffff));
  background-image: -webkit-linear-gradient(left, #00ffff, #ffffff);
  background-image: -moz-linear-gradient(left, #00ffff, #ffffff);
  background-image: -ms-linear-gradient(left, #00ffff, #ffffff);
  background-image: -o-linear-gradient(left, #00ffff, #ffffff);
}
body.trace-topography,
body.trace-topography:before {
  background-color: #000000;
  color: #ffffff;
}
body.trace-topography,
body.trace-topography:before {
  background-color: #262626;
  color: #ffffff;
}
body.trace-topography > [id],
body.trace-topography > [class],
body.trace-topography > [id]:before,
body.trace-topography > [class]:before {
  background-color: #4d4d4d;
  color: #ffffff;
}
body.trace-topography > [id] > [id],
body.trace-topography > [class] > [id],
body.trace-topography > [id] > [class],
body.trace-topography > [class] > [class],
body.trace-topography > [id] > [id]:before,
body.trace-topography > [class] > [id]:before,
body.trace-topography > [id] > [class]:before,
body.trace-topography > [class] > [class]:before {
  background-color: #737373;
  color: #ffffff;
}
body.trace-topography > [id] > [id] > [id],
body.trace-topography > [class] > [id] > [id],
body.trace-topography > [id] > [class] > [id],
body.trace-topography > [class] > [class] > [id],
body.trace-topography > [id] > [id] > [class],
body.trace-topography > [class] > [id] > [class],
body.trace-topography > [id] > [class] > [class],
body.trace-topography > [class] > [class] > [class],
body.trace-topography > [id] > [id] > [id]:before,
body.trace-topography > [class] > [id] > [id]:before,
body.trace-topography > [id] > [class] > [id]:before,
body.trace-topography > [class] > [class] > [id]:before,
body.trace-topography > [id] > [id] > [class]:before,
body.trace-topography > [class] > [id] > [class]:before,
body.trace-topography > [id] > [class] > [class]:before,
body.trace-topography > [class] > [class] > [class]:before {
  background-color: #999999;
  color: #ffffff;
}
body.trace-topography > [id] > [id] > [id] > [id],
body.trace-topography > [class] > [id] > [id] > [id],
body.trace-topography > [id] > [class] > [id] > [id],
body.trace-topography > [class] > [class] > [id] > [id],
body.trace-topography > [id] > [id] > [class] > [id],
body.trace-topography > [class] > [id] > [class] > [id],
body.trace-topography > [id] > [class] > [class] > [id],
body.trace-topography > [class] > [class] > [class] > [id],
body.trace-topography > [id] > [id] > [id] > [class],
body.trace-topography > [class] > [id] > [id] > [class],
body.trace-topography > [id] > [class] > [id] > [class],
body.trace-topography > [class] > [class] > [id] > [class],
body.trace-topography > [id] > [id] > [class] > [class],
body.trace-topography > [class] > [id] > [class] > [class],
body.trace-topography > [id] > [class] > [class] > [class],
body.trace-topography > [class] > [class] > [class] > [class],
body.trace-topography > [id] > [id] > [id] > [id]:before,
body.trace-topography > [class] > [id] > [id] > [id]:before,
body.trace-topography > [id] > [class] > [id] > [id]:before,
body.trace-topography > [class] > [class] > [id] > [id]:before,
body.trace-topography > [id] > [id] > [class] > [id]:before,
body.trace-topography > [class] > [id] > [class] > [id]:before,
body.trace-topography > [id] > [class] > [class] > [id]:before,
body.trace-topography > [class] > [class] > [class] > [id]:before,
body.trace-topography > [id] > [id] > [id] > [class]:before,
body.trace-topography > [class] > [id] > [id] > [class]:before,
body.trace-topography > [id] > [class] > [id] > [class]:before,
body.trace-topography > [class] > [class] > [id] > [class]:before,
body.trace-topography > [id] > [id] > [class] > [class]:before,
body.trace-topography > [class] > [id] > [class] > [class]:before,
body.trace-topography > [id] > [class] > [class] > [class]:before,
body.trace-topography > [class] > [class] > [class] > [class]:before {
  background-color: #bfbfbf;
  color: #000000;
}
body.trace-class-and-id div#layout-wrapper[id]:before,
body.trace-class-and-id div#layout-wrapper div[id]:before,
body.trace-class-and-id div#layout-wrapper article[id]:before,
body.trace-class-and-id div#layout-wrapper header[id]:before,
body.trace-class-and-id div#layout-wrapper aside[id]:before,
body.trace-class-and-id div#layout-wrapper footer[id]:before,
body.trace-class-and-id div#layout-wrapper[class]:before,
body.trace-class-and-id div#layout-wrapper div[class]:before,
body.trace-class-and-id div#layout-wrapper article[class]:before,
body.trace-class-and-id div#layout-wrapper header[class]:before,
body.trace-class-and-id div#layout-wrapper aside[class]:before,
body.trace-class-and-id div#layout-wrapper footer[class]:before {
  content: "#" attr(id) "." attr(class);
  line-height: 12px;
  font-size: 12px;
  background: black;
  color: yellow;
}
body.trace-zones-and-widgets .zone {
  margin-bottom: 4px;
  background-color: #ffff00;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffff00), to(#ffffff));
  background-image: -webkit-linear-gradient(left, #ffff00, #ffffff);
  background-image: -moz-linear-gradient(left, #ffff00, #ffffff);
  background-image: -ms-linear-gradient(left, #ffff00, #ffffff);
  background-image: -o-linear-gradient(left, #ffff00, #ffffff);
}
body.trace-zones-and-widgets .widget,
body.trace-zones-and-widgets .content-item {
  margin-bottom: 4px;
  background-color: #00ffff;
  background-image: -webkit-gradient(linear, left top, right top, from(#00ffff), to(#ffffff));
  background-image: -webkit-linear-gradient(left, #00ffff, #ffffff);
  background-image: -moz-linear-gradient(left, #00ffff, #ffffff);
  background-image: -ms-linear-gradient(left, #00ffff, #ffffff);
  background-image: -o-linear-gradient(left, #00ffff, #ffffff);
}
html {
  margin-top: 40px;
}
#theme-designer-control-bar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #f0f0f0;
  width: 100%;
  top: 0;
  position: fixed;
  padding: 1px 0;
  left: 0;
  height: 40px;
  color: #000000;
  box-sizing: border-box;
  border-bottom: 1px solid #717171;
  z-index: 99999;
}
#theme-designer-control-bar label,
#theme-designer-control-bar input,
#theme-designer-control-bar button,
#theme-designer-control-bar select {
  display: inline;
  margin: 0  0  0 5px;
  vertical-align: middle;
  width: auto;
}
