/*
Theme: The Theme Machine Designer
Author: shaun @ bigfont.ca
*/
/*topo*/
/*links*/
/*mixins*/
body.trace-topography,
body.trace-topography:before {
  background-color: #000000;
  color: #ffffff;
}
body.trace-topography,
body.trace-topography:before {
  background-color: #262626;
  color: #ffffff;
}
body.trace-topography > [id],
body.trace-topography > [class],
body.trace-topography > [id]:before,
body.trace-topography > [class]:before {
  background-color: #4d4d4d;
  color: #ffffff;
}
body.trace-topography > [id] > [id],
body.trace-topography > [class] > [id],
body.trace-topography > [id] > [class],
body.trace-topography > [class] > [class],
body.trace-topography > [id] > [id]:before,
body.trace-topography > [class] > [id]:before,
body.trace-topography > [id] > [class]:before,
body.trace-topography > [class] > [class]:before {
  background-color: #737373;
  color: #ffffff;
}
body.trace-topography > [id] > [id] > [id],
body.trace-topography > [class] > [id] > [id],
body.trace-topography > [id] > [class] > [id],
body.trace-topography > [class] > [class] > [id],
body.trace-topography > [id] > [id] > [class],
body.trace-topography > [class] > [id] > [class],
body.trace-topography > [id] > [class] > [class],
body.trace-topography > [class] > [class] > [class],
body.trace-topography > [id] > [id] > [id]:before,
body.trace-topography > [class] > [id] > [id]:before,
body.trace-topography > [id] > [class] > [id]:before,
body.trace-topography > [class] > [class] > [id]:before,
body.trace-topography > [id] > [id] > [class]:before,
body.trace-topography > [class] > [id] > [class]:before,
body.trace-topography > [id] > [class] > [class]:before,
body.trace-topography > [class] > [class] > [class]:before {
  background-color: #999999;
  color: #ffffff;
}
body.trace-topography > [id] > [id] > [id] > [id],
body.trace-topography > [class] > [id] > [id] > [id],
body.trace-topography > [id] > [class] > [id] > [id],
body.trace-topography > [class] > [class] > [id] > [id],
body.trace-topography > [id] > [id] > [class] > [id],
body.trace-topography > [class] > [id] > [class] > [id],
body.trace-topography > [id] > [class] > [class] > [id],
body.trace-topography > [class] > [class] > [class] > [id],
body.trace-topography > [id] > [id] > [id] > [class],
body.trace-topography > [class] > [id] > [id] > [class],
body.trace-topography > [id] > [class] > [id] > [class],
body.trace-topography > [class] > [class] > [id] > [class],
body.trace-topography > [id] > [id] > [class] > [class],
body.trace-topography > [class] > [id] > [class] > [class],
body.trace-topography > [id] > [class] > [class] > [class],
body.trace-topography > [class] > [class] > [class] > [class],
body.trace-topography > [id] > [id] > [id] > [id]:before,
body.trace-topography > [class] > [id] > [id] > [id]:before,
body.trace-topography > [id] > [class] > [id] > [id]:before,
body.trace-topography > [class] > [class] > [id] > [id]:before,
body.trace-topography > [id] > [id] > [class] > [id]:before,
body.trace-topography > [class] > [id] > [class] > [id]:before,
body.trace-topography > [id] > [class] > [class] > [id]:before,
body.trace-topography > [class] > [class] > [class] > [id]:before,
body.trace-topography > [id] > [id] > [id] > [class]:before,
body.trace-topography > [class] > [id] > [id] > [class]:before,
body.trace-topography > [id] > [class] > [id] > [class]:before,
body.trace-topography > [class] > [class] > [id] > [class]:before,
body.trace-topography > [id] > [id] > [class] > [class]:before,
body.trace-topography > [class] > [id] > [class] > [class]:before,
body.trace-topography > [id] > [class] > [class] > [class]:before,
body.trace-topography > [class] > [class] > [class] > [class]:before {
  background-color: #bfbfbf;
  color: #000000;
}
body.trace-class-and-id div#layout-wrapper[id]:before,
body.trace-class-and-id div#layout-wrapper div[id]:before,
body.trace-class-and-id div#layout-wrapper article[id]:before,
body.trace-class-and-id div#layout-wrapper header[id]:before,
body.trace-class-and-id div#layout-wrapper aside[id]:before,
body.trace-class-and-id div#layout-wrapper footer[id]:before,
body.trace-class-and-id div#layout-wrapper[class]:before,
body.trace-class-and-id div#layout-wrapper div[class]:before,
body.trace-class-and-id div#layout-wrapper article[class]:before,
body.trace-class-and-id div#layout-wrapper header[class]:before,
body.trace-class-and-id div#layout-wrapper aside[class]:before,
body.trace-class-and-id div#layout-wrapper footer[class]:before {
  content: "#" attr(id) "." attr(class);
  line-height: 1em;
  font-size: 1em;
}
body.trace-zones .zone {
  margin-bottom: 4px;
  background-color: #89c6ac;
  background-image: -webkit-gradient(linear, left top, right top, from(#89c6ac), to(#ffffff));
  background-image: -webkit-linear-gradient(left, #89c6ac, #ffffff);
  background-image: -moz-linear-gradient(left, #89c6ac, #ffffff);
  background-image: -ms-linear-gradient(left, #89c6ac, #ffffff);
  background-image: -o-linear-gradient(left, #89c6ac, #ffffff);
}
body.trace-widgets .widget,
body.trace-widgets .content-item {
  margin-bottom: 4px;
  background-color: #face62;
  background-image: -webkit-gradient(linear, left top, right top, from(#face62), to(#ffffff));
  background-image: -webkit-linear-gradient(left, #face62, #ffffff);
  background-image: -moz-linear-gradient(left, #face62, #ffffff);
  background-image: -ms-linear-gradient(left, #face62, #ffffff);
  background-image: -o-linear-gradient(left, #face62, #ffffff);
}
html {
  margin-top: 45px;
}
#theme-designer-control-bar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-image: -webkit-linear-gradient(top, #ecf1f2 0%, #fafbfb 100%);
  background-image: linear-gradient(to bottom, #ecf1f2 0%, #fafbfb 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffecf1f2', endColorstr='#fffafbfb', GradientType=0);
  border-bottom: 1px solid #b6bcbd;
  box-sizing: border-box;
  color: #000000;
  height: 40px;
  left: 0;
  padding: 1px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}
#theme-designer-control-bar label,
#theme-designer-control-bar input,
#theme-designer-control-bar button,
#theme-designer-control-bar select {
  display: inline;
  margin: 0 0 0 5px;
  line-height: 40px;
  vertical-align: middle;
  width: auto;
}
#theme-designer-control-bar input[type="checkbox"] {
  position: relative;
  bottom: 2px;
}
