@{
    var model = Model;
}
<nav data-offset-top="0" data-spy="affix">
    <ul class="nav nav-list nav-stacked">
        <li>This will be the internal navigation.</li>
        <li>We need to populate it with the subnavigation items.</li>
        <li>How will we do that? Ideas: </li>
        <li>Maybe we can add a boolean field to all widgets called "show on subnav"</li>
        <li>Maybe we can just get a list of all widgets.</li>
    </ul>
</nav>