@using Orchard.ContentManagement
@using Orchard.MediaLibrary.Models
@using Orchard.Utility.Extensions
@model dynamic
           
@{
    ContentItem contentItem = Model.ContentItem;
    var width = ViewBag.ResizedThumbnailWidth != null ? ViewBag.ResizedThumbnailWidth : 200;
    var media = contentItem.As<MediaPart>();
    var image = contentItem.As<ImagePart>();    
}

<div class="media-thumbnail media-thumbnail-@contentItem.ContentType.HtmlClassify() mime-type-@media.MimeType.HtmlClassify()">
    <img src="@Display.ResizeMediaUrl(Width: width, Mode: "max", Alignment: "middlecenter", Path: media.MediaUrl)" />
</div>