@using Orchard.ContentManagement;
@using LccNetwork.Bootstrap.Extensions;
@using Orchard.Mvc.Html;

@{
    dynamic shapes = Model.BuildShapes;
}

<div class="row">
    @foreach (dynamic shape in shapes())
    {
        <div class="col-md-9">
            @Display(shape)
            <a class="latest-news" href="@Url.ItemDisplayUrl(shape.ContentItem as IContent)">Learn More</a>
        </div>
    }
</div>