@using Orchard.ContentManagement;
@using LccNetwork.Bootstrap.Extensions;

@{
    dynamic shapes = Model.BuildShapes;
}

<div class="row">
    @foreach (dynamic shape in shapes())
    {
        <div class="col-md-9">
            @Display(shape)
            <a href="#">Learn More</a>
        </div>
    }
</div>