@using System.Dynamic;
@using System.Linq;
@using Orchard.ContentManagement;
@using Orchard.Utility.Extensions;
@using LccNetwork.Bootstrap.Extensions;

@{
    var contentItems = (Model.ContentItems as IEnumerable<ContentItem>).ToList();
    var cssClass = contentItems.First().TypeDefinition.Name.HtmlClassify();

    <ul class="list-unstyled @cssClass">
        @foreach (dynamic item in contentItems)
        {
            var itemDisplayUrl = Url.ItemDisplayUrl((IContent)item);
            // get the mainPart, so we can access the item's fields
            dynamic mainPart = MyFunctions.GetMainPartFromContentItem(item);
            // get the fields 
            var title = item.TitlePart.Title;
            var body = item.BodyPart.Text;            

            <li class="clearfix">
                <h3>@title</h3>                
                @Html.Raw(body)                
            </li>
        }
    </ul>
}