/*
Theme: My First Theme
Author: Shaun Luttin @ www.bigfont.ca
Copyright: 
*/


/* Reset
***************************************************************/

/* Clearing Float
***************************************************************/

/* General
***************************************************************/

* {
    border-color: #CAD9B0 !important;
}

/* Structure
***************************************************************/

footer#footer {
    margin-top:10px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: thin solid #EEEEEE;
}

/* Main
***************************************************************/

/* Secondary
***************************************************************/

/* Forms
***************************************************************/

/* Misc
***************************************************************/
