@using Orchard.Mvc;

<section class="main">        

    <h1>Find an LCC</h1>
    <div class="map-container">        
        <img src="@Href("~/Modules/LccNetwork/Content/Images/DOI_LCC_900_3_3.gif")" alt="Landscape Conservation Cooperatives" title="Landscape Conservation Cooperatives" style="" usemap="#LCCmapMap" border="0" height="688" hspace="0" vspace="0" width="891">
        <map id="LCCmapMap" name="LCCmapMap">
            <area target="_blank" title="Appalachian" shape="CIRCLE" alt="Appalachian" coords="573,269,21" href="http://www.applcc.org">
            <area target="_blank" title="Appalachian" shape="RECT" alt="Appalachian" coords="16,562,250,578" href="http://www.applcc.org">
            <area target="_blank" title="California" shape="CIRCLE" alt="California" coords="177,257,15" href="http://www.californialcc.org">
            <area target="_blank" title="California" shape="RECT" alt="California" coords="16,582,250,597" href="http://www.californialcc.org">
            <area target="_blank" title="Desert" shape="CIRCLE" alt="Desert" coords="327,388,43" href="http://www.usbr.gov/dlcc">
            <area target="_blank" title="Desert" shape="RECT" alt="Desert" coords="16,602,250,617" href="http://www.usbr.gov/dlcc">
            <area target="_blank" title="Eastern Tallgrass Prairie and Big Rivers" shape="CIRCLE" alt="Eastern Tallgrass Prairie and Big Rivers" coords="488,231,18" href="http://www.tallgrassprairielcc.org">
            <area target="_blank" title="Eastern Tallgrass Prairie and Big Rivers" shape="RECT" alt="Eastern Tallgrass Prairie and Big Rivers" coords="16,621,256,636" href="http://www.tallgrassprairielcc.org">
            <area target="_blank" title="Great Basin" shape="CIRCLE" alt="Great Basin" coords="233,207,35" href="http://www.greatbasinlcc.org">
            <area target="_blank" title="Great Basin" shape="RECT" alt="Great Basin" coords="16,640,250,655" href="http://www.greatbasinlcc.org">
            <area target="_blank" title="Great Northern" shape="CIRCLE" alt="Great Northern" coords="245,115,33" href="http://www.greatnorthernlcc.org">
            <area target="_blank" title="Great Northern" shape="RECT" alt="Great Northern" coords="16,659,250,675" href="http://www.greatnorthernlcc.org">
            <area target="_blank" title="Great Plains" shape="CIRCLE" alt="Great Plains" coords="394,274,35" href="http://www.greatplainslcc.org">
            <area target="_blank" title="Great Plains" shape="RECT" alt="Great Plains" coords="261,562,460,578" href="http://www.greatplainslcc.org">
            <area target="_blank" title="Gulf Coast Prairie" shape="CIRCLE" alt="Gulf Coast Prairie" coords="420,384,19" href="http://www.gulfcoastprairielcc.org">
            <area target="_blank" title="Gulf Coast Prairie" shape="RECT" alt="Gulf Coast Prairie" coords="261,582,460,597" href="http://www.gulfcoastprairielcc.org">
            <area target="_blank" title="Gulf Coast Plains and Ozarks" shape="CIRCLE" alt="Gulf Coast Plains and Ozarks" coords="498,328,24" href="http://www.gcpolcc.org">
            <area target="_blank" title="Gulf Coast Plains and Ozarks" shape="RECT" alt="Gulf Coast Plains and Ozarks" coords="261,602,460,617" href="http://www.gcpolcc.org">
            <area target="_blank" title="North Atlantic" shape="CIRCLE" alt="Northern Atlantic" coords="709,122,18" href="http://www.northatlanticlcc.org">
            <area target="_blank" title="North Atlantic" shape="RECT" alt="Northern Atlantic" coords="261,620,460,636" href="http://www.northatlanticlcc.org">
            <area target="_blank" title="North Pacific" shape="CIRCLE" alt="North Pacific" coords="175,140,15" href="http://www.northpacificlcc.org">
            <area target="_blank" title="North Pacific" shape="CIRCLE" alt="North Pacific" coords="843,448,12" href="http://www.northpacificlcc.org">
            <area target="_blank" title="North Pacific" shape="RECT" alt="North Pacific" coords="261,640,460,655" href="http://www.northpacificlcc.org">
            <area target="_blank" title="Peninsular Florida" shape="CIRCLE" alt="Peninsular Florida" coords="626,400,15" href="http://www.peninsularfloridalcc.org">
            <area target="_blank" title="Peninsular Florida" shape="RECT" alt="Peninsular Florida" coords="261,659,460,675" href="http://www.peninsularfloridalcc.org">
            <area target="_blank" title="Plains and Prairie Potholes" shape="CIRCLE" alt="Plains and Prairie Potholes" coords="375,129,45" href="http://www.plainsandprairiepotholeslcc.org">
            <area target="_blank" title="Plains and Prairie Potholes" shape="RECT" alt="Plains and Prairie Potholes" coords="465,562,670,578" href="http://www.plainsandprairiepotholeslcc.org">
            <area target="_blank" title="South Atlantic" shape="CIRCLE" alt="South Atlantic" coords="619,314,18" href="http://www.southatlanticlcc.org">
            <area target="_blank" title="South Atlantic" shape="RECT" alt="South Atlantic" coords="465,582,670,597" href="http://www.southatlanticlcc.org">
            <area target="_blank" title="Southern Rockies" shape="CIRCLE" alt="Southern Rockies" coords="302,267,37" href="http://www.southernrockieslcc.org">
            <area target="_blank" title="Southern Rockies" shape="RECT" alt="Southern Rockies" coords="465,602,670,617" href="http://www.southernrockieslcc.org">
            <area target="_blank" title="Upper Midwest and Great Lakes" shape="CIRCLE" alt="Upper Midwest and Great Lakes" coords="626,142,27" href="http://www.greatlakeslcc.org">
            <area target="_blank" title="Upper Midwest and Great Lakes" shape="RECT" alt="Upper Midwest and Great Lakes" coords="465,621,670,636" href="http://www.greatlakeslcc.org">
            <area target="_blank" title="Aleutian and Bering Sea Islands" shape="CIRCLE" alt="Aleutian and Bering Sea Islands" coords="731,419,15" href="https://absilcc.org/SitePages/home.aspx">
            <area target="_blank" title="Aleutian and Bering Sea Islands" shape="RECT" alt="Aleutian and Bering Sea Islands" coords="465,640,670,655" href="https://absilcc.org/SitePages/home.aspx">
            <area target="_blank" title="Arctic" shape="CIRCLE" alt="Arctic" coords="779,389,17" href="http://www.arcticlcc.org">
            <area target="_blank" title="Arctic" shape="RECT" alt="Arctic" coords="465,659,670,675" href="http://www.arcticlcc.org">
            <area target="_blank" title="Northwest Boreal" shape="CIRCLE" alt="Northwest Boreal" coords="806,419,15" href="http://www.nwblcc.org">
            <area target="_blank" title="Northwest Boreal" shape="RECT" alt="Northwest Boreal" coords="680,563,878,578" href="http://www.nwblcc.org">
            <area target="_blank" title="Western Alaska" shape="CIRCLE" alt="Western Alaska" coords="761,450,15" href="https://westernalaskalcc.org">
            <area target="_blank" title="Western Alaska" shape="RECT" alt="Western Alaska" coords="680,582,880,597" href="https://westernalaskalcc.org">
            <area target="_blank" title="Pacific Islands" shape="CIRCLE" alt="Pacific Islands" coords="98,440,72" href="http://piccc.net/">
            <area target="_blank" title="Pacific Islands" shape="RECT" alt="Pacific Islands" coords="680,602,879,617" href="http://piccc.net/">
            <area target="_blank" title="Caribbean" shape="CIRCLE" alt="Caribbean" coords="800,270,40" href="http://www.caribbeanlcc.org">
            <area target="_blank" title="Caribbean" shape="RECT" alt="Caribbean" coords="680,622,879,637" href="http://www.caribbeanlcc.org">
        </map>
    </div>
</section>