@if (Model != null && Model.item != null)
{
    var contentItem = Model.item;
    @Display(contentItem)
}
else
{
    <div class="alert alert-error">
        <p>There is no highlighted item for this content type.</p>
    </div>
}