@using Orchard.Search.ViewModels;

@using(Html.BeginForm("index", "search", new { area = "Orchard.Search" }, FormMethod.Get, new { @class = "search-form form form-inline"})) { 
    <fieldset>
        @Html.TextBox("q", (SearchViewModel)Model.ViewModel.Query, new { @class = "form-control input-lg", placeholder = "Search" })
        <button class="btn btn-default btn-lg" type="submit">@T("Search!")</button>
    </fieldset>
}